:root {
    --link-color: #cf8d13;
    --green: #2e7d32;
    --light-green: #e6f4e6;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.order-window {
    color : #797a82;
    width: 300px;
    height: 250px;
    background-color: #f7f7ed
}

.terms-link:link {
  text-decoration: none;
  color: var(--link-color);
}

.terms-link:visited {
  text-decoration: none;
  color: var(--link-color);

}

.terms-link:hover {
    text-decoration: none;
    color: #ffb326;
}

.terms-link:active {
    text-decoration: none;
    color: var(--link-color);
}

.margin-order {
    margin: 0 20px 0 20px
}

.button-order {
    background-color: #f7f7ed;
    color: gray;
    width: 70%;
    border: 2px solid gray;
    border-radius: 4px;
}

.button-order:hover {
    background-color: #faf4b6
}

.button-order:active {
    background-color: yellow
}

.cart-item-box {
    border: 5px solid red;
    padding: 1rem;
    margin: .25rem;
    max-height: 250px;
}

.cart-product-image{
    height: 200px;
    max-width: 100px;
    min-width: 100px;
}

/* card */
.card-img-top {
	height: 200px;
}

.card-description {
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	display: -webkit-box;
}

/* product filter */
.filter-box {
    min-width: 200px;
    height: 100%;
}

/* grids learn */
#grid1 {
    background-color: blue;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 200px auto
}

.grid-item {
    background-color: red;
    padding: 10px;
}

.e6 {
    grid-column: 3;
    grid-row: 2 / 4;
}