{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}

{% block content %}
    {% if cart %}
        {% currency_symbol as currency_symbol %}
        <div class="justify-content-between">
            <div class="row">
                <div class="d-flex flex-column col-sm-12 col-md-8">
                    {% for item in cart %}
                        <div class="cart-item-box d-flex" id="{{ item.product.id }}_block">
                            <div class="me-2 cart-product-image">
                                <img class="card-img-top card-image" {% if item.product.main_image %} src="{{ item.product.main_image.image.url }} " {% endif %} alt="Card image cap">
                            </div>
                            <div>
                                <h2>{{ item.product.name }}</h2>
                                <div class="d-flex justify-content-between">
                                    <p>Price per unit: </p>
                                    <p>{{ item.product.price }} {{ currency_symbol }}</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p>Total price: </p>
                                    <p id="{{ item.product_id }}_price">{{ item.price_by_quantity }}</p>
                                    <p>{{ currency_symbol }}</p>
                                </div>
                                <div class="d-inline-flex border rounded-5 align-item-center ">
                                    <button class="btn remove_from_cart_one" id="{{ item.product.id }}">{% if item.quantity == 1 %}<i class="fa-solid fa-trash"></i>{% else %}<i class="fa-solid fa-minus"></i>{% endif %}</button>
                                    <h3 id="{{ item.product.id }}_quantity" class="m-0">{{ item.quantity }}</h3>
                                    <button class="btn add_to_cart_one" id="{{ item.product.id }}"><i class="fa-solid fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="border border-secondary border-2 order-window col-md-4 col-sm-12">
                    <h5 class="d-flex justify-content-center">ORDER SUMMARY</h5>
                    <div class="d-flex ">
                        <span class="h5">Total: </span>
                        <span class="h5" id="total-price">{{ total_price }} </span>
                        <p>{{ currency_symbol }}</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <form action="{% url 'shop:create-checkout-session' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary button-order">Checkout</button>
                        </form>
                    </div>
                    <div class="d-flex flex-column justify-content-center margin-order border">
                        <span><i class="fa-solid fa-circle-info" style="color: #63E6BE;"></i> Наличие товара и его цена не гарантируются до тех пор, пока оплата не будет окончательно произведена</span>
                        <span><i class="fa-solid fa-lock" style="color: #63E6BE;"></i> С вас не будет взиматься плата, пока вы не просмотрите заказ на следующей странице</span>
                        <span><i class="fa-solid fa-shield" style="color: #63E6BE;"></i> SurvivalKit обязуется защищать вашу платежную информацию. Мы соблюдаем стандарты PCI DSS, используем надежное шифрование и регулярно проверяем систему шифрования в целях защиты вашей конфиденциальности. </span>
                        <span>1. Способы оплаты</span>
                        <div class="d-flex flex-row flex-wrap">
                            {% for image in payment_method_images %}
                                <img src="{{ image }}" class="card_order_window_img">
                            {% endfor %}
                        </div>
                        <span>2. Сертификация безопасности</span>
                        <div class="d-flex flex-row flex-wrap">
                            {% for image in card_security_certification_images %}
                                <img src="{{ image }}" class="card_order_window_img">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="d-flex justify-content-center align-item-center h-100">
            <span class="h3">There are no results to display</span>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        window.cartViewUrl = "{% url 'shop:cart' %}";
        window.csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'shop/javascript/cart_list.js' %}">
    </script>
{% endblock%}
