{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'shop:product:product_create' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
                <label for="id_name" class="form-label">Email</label>
                <input type="text" name="name" id="id_name" required class="form-control">
                {% for error in form.name.errors %}
                <p class="error-color">{{ error }}</p>
                {% endfor %}
        </div>
        <div class="mb-3">
                <label for="id_description" class="form-label">Description</label>
                <input type="text" name="description" id="id_description" required class="form-control">
                {% for error in form.description.errors %}
                <p class="error-color">{{ error }}</p>
                {% endfor %}
        </div>
        <div class="mb-3">
                <label for="id_category" class="form-label">Category</label>
                <select name="category" id="id_category" class="form-select">
                    {% for value, label in form.category.field.choices %}
                        <option value="{{ value }}" {% if form.category.value == value %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
                {% for error in form.category.errors %}
                    <p class="error-color">{{ error }}</p>
                {% endfor %}
        </div>
        <div class="mb-3">
                <label for="id_brand" class="form-label">Brand</label>
                <select name="brand" id="id_brand" class="form-select">
                    {% for value, label in form.brand.field.choices %}
                        <option value="{{ value }}" {% if form.brand.value == value %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
                {% for error in form.brand.errors %}
                    <p class="error-color">{{ error }}</p>
                {% endfor %}
        </div>
        <div class="mb-3">
                <label for="id_price" class="form-label">Price</label>
                <input type="number" name="price" id="id_price" required class="form-control">
                {% for error in form.price.errors %}
                <p class="error-color">{{ error }}</p>
                {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
{% endblock %}
