{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}

{% block content %}
    {% currency_symbol as currency_symbol %}
    <div class="container">
        <div class="d-flex border">
            <img class="" {% if product.main_image %} src="{{ product.main_image.image.url }} " {% endif %} alt="Card image cap">
            <div class="d-flex flex-column width-100">
                <h4 class="fw-bold">{{ product.name }}</h4>
                <p>{{ product.description }}</p><hr>
                <p>Categories: {{ product.category }}</p><hr>
                <p>Price: {{ product.price }} {{ currency_symbol }}</p>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
                    <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="product-quantity-input-value" value="0">
                    <button class="btn btn-outline-secondary add-to-cart-button" type="button" id="add-to-cart-button-{{ product.id }}">Add to Cart</button>
                </div>
                <form action="/create-checkout-session" method="POST">
                    <button type="submit" id="checkout-button">Checkout</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    window.cartProductDetailUrl = "{% url 'shop:cart_view' %}";
    window.csrftoken = '{{ csrf_token }}';
</script>
<script src="{% static 'shop/javascript/product_detail.js' %}"></script>
{% endblock %}
