{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="d-flex flex-row">
        <div class="filter-box border-end border-5 p-3">
            <p>Categories</p>
            {% for category in categories %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="category" value="{{ category.slug }}" id="id_{{ category.slug }}" {% if category.slug in active_categories %}checked{% endif %}>
                    <label class="form-check-label" for="id_{{ category.slug }}">
                        {{ category.name }}
                    </label>
                </div>
            {% endfor %}
            <br>
            <p>Brands</p>
            {% for brand in brands %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="brand" value="{{ brand.slug }}" id="id_{{ brand.slug }}" {% if brand.slug in active_brands %}checked{% endif %}>
                    <label class="form-check-label" for="id_{{ brand.slug }}">
                        {{ brand.name }}
                    </label>
                </div>
            {% endfor %}
            <br>
            <input type="text" class="form-control" id="search-input" placeholder="Поиск..." name="search">
        </div>
        <div class="">
            {% include 'shop/includes/product_list.html' %}
        </div>
    </div>



{% endblock%}
{% block js %}
<script>
    window.shopCartViewUrl = "{% url 'shop:cart' %}";
    window.csrftoken = '{{ csrf_token }}';
    window.urlProductList = "{% url 'shop:product:list' %}";
</script>
<script src="{% static 'shop/javascript/product_page.js' %}"></script>
{% endblock%}
